.CardLatestGrid{
    width: 272px;
    height: 130px;
    margin-bottom: 65px;

}

.LatestGridtext{
    color: #505050;
    font-family: 'Work Sans';
    color: #787878;
    display: none;
    font-family: GT America;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.1875rem;
    -webkit-text-decoration: none;
    text-decoration: none;
    
}
.gridhead{
    float:left;
    margin-bottom: -10px;
}
.CardLatestGrid:hover{
    .LatestGridtext{
      color:#868484;
    }
  }
  .gridbd{

    border-bottom: 1px solid #c8c8c8;
    margin-top: 15px;
  }
  .gridbd:nth-child(3){
    border-bottom: none;
  }

 .foryou-author-{
    float: left;
 }