.featured-articles {
  padding: 15px 0px 11px 11px;
  width: 585px;
  height: 590px;
  object-fit: cover;
  margin-bottom: 6rem;
}

.featured-categories {
  margin: 20px 0;
  display: grid;
  justify-content: center;
}

.category-link {
  font-size: 1.2rem;
}

.featured-articles:hover .featuredtext {
  color: #868484;
}

.featured-more {
  width: 700%;
  max-width: 400px;
  margin: 10px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.article-card {
  width: 100%;
  max-width: 200px;
  margin: 10px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
}

.article-image {
  height: 394px;
  max-height: 200px;
  object-fit: cover;
}

.article-content {
  padding: 10px;
}

.article-content h3 {
  margin-top: 0;
}

.article-content p {
  margin-bottom: 10px;
}

.article-content a {
  display: inline-block;
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
}

.row1 {
  margin-top: 30px;
  padding-right: 7px;
  border-right: 1px solid #e2e2e2;
}

.card-img {
  max-height: 400px;
  object-fit: cover;
}

.featuredtext {
  color: #505050;
  font-family: GT America;
  font-style: normal;
  font-weight: 600;
  letter-spacing: -0.03125rem;
  line-height: 2.3125rem;
  margin-bottom: 3px;
  text-align: left;
}

.featuredTitle {
  margin-left: 50px;
  margin-right: 50px;
  max-width: 441px;
}

.featuredtext {
  text-decoration: none;
}

@media (max-width: 768px) {
  .featured-articles {
    padding: 5px; /* Adjusted padding for smaller screens */
    margin-bottom: 30px; /* Reduced margin */
    max-width: 100%; /* Full width on smaller screens */
  }
  
  .container {
    justify-content: flex-start; /* Adjust alignment for smaller screens */
  }

  .article-card,
  .featured-more {
    max-width: 100%; /* Full width on smaller screens */
    width: 100%; /* Ensure full width on smaller screens */
  }

  .article-image {
    height: auto; /* Adjusted height for smaller screens */
    max-height: 200px; /* Maintain aspect ratio */
  }

  .featured-categories {
    grid-template-columns: 1fr; /* Single column layout for smaller screens */
  }

  .row1 {
    border-right: none; /* Remove border for smaller screens */
    padding-right: 0; /* Remove padding for smaller screens */
  }
}
