{% extends "layouts/base.html" %}{% load static %} {% block content %}
<div class="news-area section-padding-100-70">
    <div class="container">
        <h3 class="text-center"><b>All Posts</b></h3>
        <center>
            <hra class="w-25">
        </center>
        <div class="row mt-5">
            <div class="col-12 col-md-8 col-lg-9">
                <div id="post-list">
                    {% for post in posts %}
                    <!-- Single News Area -->
                    <div class="single-blog-post d-flex flex-wrap style-5 mb-30">
                        <!-- Blog Thumbnail -->
                        <div class="blog-thumbnail">
                            <a href="{% url 'view-post' post.pk %}"><img src="{{post.banner_path.url}}" alt="{post.title}"></a>
                        </div>

                        <!-- Blog Content -->
                        <div class="blog-content">
                            <span class="post-date">{{post.date_created|date:'M d, Y'}}</span>
                            <a href="{% url 'view-post' post.pk %}" class="post-title">{{post.title}}</a>
                            <a href="#" class="post-author">By {{post.user.username}}</a>
                            <p>{{post.short_description|truncatechars:100}}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>

            </div>

            <div class="col-12 col-md-4 col-lg-3">
                <div class="sidebar-area">

                    

                </div>

            </div>
        </div>
    </div>
</div>
<hra> {% endblock content %}