.app {
  text-align: center;
 
  margin-right: 17em;
  margin-left: 17em;
}
@media only screen and (max-width: 768px) {
  .app{
  margin-right: 0px;
  margin-left: 0px;
  }
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.grid{
  @media only screen and (max-width: 768px) {
    display: flexbox;
    width: 80%;
  }
  display: flex;
}
.SecAds{
display: block;
border-top: 1px solid #c8c8c8;
padding: 120px;
}

